on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

name: Release

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - name: Setup
        uses: actions/setup-go@v3
        with:
          go-version: ">=1.20"
      - name: Vet
        run: go vet -v ./...
      - name: Lint
        uses: golangci/golangci-lint-action@v8
      - name: Test
        run: go test -v ./...
      - name: Build
        run: make all
      - name: Create Release
        run: |
          gh release create "${{ github.ref_name }}" bin/cli-* --generate-notes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
